 <div class="copywright">


        <img class="wedge_three" src="/logos/wedgethree.png" alt="wedge"> 

                                                <p> Handcrafted with love 
                                                     by MAELK SUSTA, 2021 </p>
                                            </div>