<div class="destinations">



    <div>
            <div class="destinations--rowone">
                <div class="destinations-rowone-first">
                <img src="/images/sights/karlstejn.jpg" alt="Karlstejn" width="400" height="270">
                <p>Prague and the Czech Republic</p></div>
                <div class="destinations-rowone-second">
                <img src="/images/sights/bratislava-jedna.jpg" alt="Bratislava" width="400" height="270">
                <p>Bratislava and Slovakia</p></div>

            </div>


                <div class="destinations--rowtwo">
                    <div class="destinations-rowtwo-third">
                <img src="/images/sights/viden.jpg" alt="Viden" width="400"  height="270">
                <p>Vienna and Austria</p></div>
                <div class="destinations-rowtwo-fourth">
                <img src="/images/sights/wawel.jpg" alt="Wawel" width="400" height="270">
                <p>Krakow and Poland</p></div>

            </div>
    </div>

    <div class="destinations--right">
                <div class="destinations__heading">
                    <h3>DESTINATIONS</h3> 
                </div>

            <div class="destinations__text">
                 <ul>
                        <li>Are you looking for a weekend break?</li>
                        <li>Do you want to see breath-taking monuments, visit cultural events or experience adventurous trips?</li>
                        <li>Are you looking for a perfect place for your conference or meeting? </li>
                        </ul>
                <p> We can help you find a perfect destination offering all of these. <br> </p>
            </div>

            <div class="destinations__button">
                <a href="/destinations/"> WHERE WE GO </a>
    </div>

    </div> 



 


</div>