                                        <div class="footer_aboutus">
                                          

                                            <div class="footer__logo_policy">
                                                <img class="footer__logo_policy-logo" src = "/logos/DMC_logo_black.png" alt = "DMC Praha" width="300" />
                                                <div class="footer__logo_policy-text">
                                                 <p>Privacy Policy | Cookie Policy</p>
                                                 <p><span>ID number: 031 42 360 
                                                     We are registered in Commercial Registry Prague, file number: C 229208 </span></p>
                                                </div>

                                            </div>





                                                <div class="footer__contact">
                                                 <h5>Where to find us</h5> <br>
                                                 <p> <span class="footer__contact--bold"> DMC PRAHA s.r.o. </span> <br>
                                                    Bělohorská  25 <br>
                                                    169 00 Praha 6 <br>
                                                    Czech Republic <br> <br> <span class="footer__contact--bold"> E-mail: </span> 

                                                <a href="mailto:joffice@dmcpraha.com">office@dmcpraha.com</a> <br><br>

                                                   <span class="footer__contact--bold">  Phones: </span>  <a class="footer__contact--marcela" href="tel:+420 603 184 505" >+420 603 184 505​ - English speaking </a><br>
                                                             <a class="footer__contact--filip" href="tel:+420 604 942 567" >+420 604 942 567 - Norwegian speaking​</a>
                                                  </p>

                                            </div>





                                        </div>