<div class="golf">

    <img class="white-wedge" src="/logos/whitewedge.png" alt="wedge"> 


    
        
     <div class="golf__wrapping">

            <div class="golf--left">
                    <div class="golf__heading">
                    <h3>GOLF</h3> 
                </div>

                <p>Experience golf playing at the most beautiful golf courses in the Czech Republic - declared the 2007 “Undiscovered Golf Destination of the Year” award winner by International Association of Golf Tour Operators.Golf in the Czech Republic has a very rich history. The country’s first golf course was opened in Marianske Lazne in 1905. A year earlier the first golf club was formed in nearby Karlovy Vary. Golf really began to grow in popularity in the 1990’s. The number of golf courses in the Czech Republic keeps growing and there are about 100 courses around the country.</p>

                <div class="golf__button">
                    <a href="/golf/"> PLAY GOLF </a>
                </div>
            </div>  


    
         <div class="golf--right">
            <div class="golf--rowone">
                <div class="golf--rowone--first">
                <img src="/images/golf/golfprague.png" alt="GOLF IN AND AROUND PRAGUE" width="400" height="270">
                <p>GOLF IN AND AROUND PRAGUE</p></div>
                <div class="golf--rowone--second">
                <img src="/images/golf/westernbohemia.png" alt="WESTERN BOHEMIA" width="400" height="270" >
                <p>WESTERN BOHEMIA</p></div>

            </div>


            <div class="golf--rowtwo">
                <div class="golf--rowone--third">
                <img src="/images/golf/southernmoravia.png" alt="SOUTHERN MORAVIA AND BESKYDY MOUNTAINS" width="400" height="270">
                <p>SOUTHERN MORAVIA AND BESKYDY MOUNTAINS</p></div>
                <div class="golf--rowone--fourth">
                <img src="/images/golf/slovakia.png" alt="SLOVAKIA" width="400" height="270">
                <p>SLOVAKIA</p></div>

            </div>
        </div>
   

</div>
</div>