<div class="nav">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler"> MENU ☰</label>

            <div class="nav__main">
                <div class="nav__about-us"> <a href="/about-us/"> About us </a></div>
                <div class="nav__pomlcka">-</div>
                <div class="nav__services"><a href="/services/"> Services </a></div>
                <div class="nav__pomlcka">-</div>
                <div class="nav__destinations"><a href="/destinations/"> Destinations </a></div>
                <div class="nav__pomlcka">-</div>
                <div class="nav__golf"><a href="/golf/"> Golf </a></div>
                <div class="nav__pomlcka">-</div>
                <div class="nav__references"><a href="/references/"> References </a></div>
                <div class="nav__pomlcka">-</div>
                <div class="nav__contact-us"><a href="/contacts/"> Contact us </a></div>
            </div>    


</div>