<div class="nav_aboutus">

            <div class="nav__about-us">
            <a href="/about-us/"> About us </a>
            </div>
            <div>-</div>
            <div class="nav__services">
            <a href="/services/"> Services </a>
            </div>
            <div>-</div>
            <div class="nav__destinations">
            <a href="/destinations/"> Destinations </a>
            </div>
            <div>-</div>
            <div class="nav__golf">
            <a href="/golf/"> Golf </a>
            </div>
            <div>-</div>
            <div class="nav__references">
            <a href="/references/"> References </a>
            </div>
            <div>-</div>
            <div class="nav__contact-us">
            <a href="/contacts/"> Contact us </a>
            </div>


</div>