<div class="services">

    <img class="wedge" src="/logos/wedge.png" alt="wedge"> 

  

    <div class="services__main">
            <div class="services__left">

        

                <img src="/images/services/restuaracedruha.JPG" alt="Dinner" width="400" height="275">
            
                
            </div>
        <div class="services__right">
            <div class="services__heading">
                <h3>SERVICES</h3> 
            </div>
                    <div>
                    <p>We provide a wide range of  high-quality services in Norwegian, Swedish and English and our collaborators and guides are reliable professionals who can engage clients and introduce them to the most beautiful parts of our country. We are happy to arrange the following services for you:</p>
                    <ul class="services__right--list">
                        <li>Accommodation</li>
                        <li>Transportation</li>
                        <li>Restaurants or catering</li>
                        <li>Guided tours</li>
                        <li>Sightseeings and excursions</li>
                        <li>Teambuilding activities</li>
                        <li>Educational visits</li>
                        <li>Sport's competitions</li>
                        <li>Entertainment program</li>
                        <li>Folklore program</li>
                        <li>Spa & wellness</li>
                    </ul>
                    </div>
                

                <div class="services__button">
                    <a href="/services/"> FIND OUT MORE </a>
                </div>

    </div>

    </div>

    

</div>