
                            <div class="top_aboutus">
                                <div class="top--left">

                                    <div class="top__mail">
                                      <img src="/logos/mail.png" alt="MAIL" width="30" height="30">
                                      <a class="header__contact-email" href="mailto:office@dmcpraha.com">office@dmcpraha.com</a>
                                    </div>
                                    
                                    <div class="top__phone">
                                        <img src="/logos/smartphone.png" alt="MAIL" width="30" height="30">
                                        <div class="top__phone--numbers">
                                        <a class="filip" href="tel:+420 604 942 567" >+420 604 942 567​</a> <br>
                                        <a class="marcela" href="tel:+420 603 184 505" >+420 603 184 505​</a>
                                    </div>
                                    </div>


                                </div>
                            


                                <div class="top--right">
                                    <div class="top__logos">
                                        <a href="https://www.facebook.com/dmcpraha"><img class="FB" src="/logos/fb.svg" alt="FB" width="30"></a>
                                        <a href="https://www.instagram.com/dmcpraha/"><img class="IG" src="/logos/ig.svg" alt="IG" width="30"></a>
                                        <a href="https://www.linkedin.com/in/marcela-malinova-861421143/?originalSubdomain=cz/"><img class="LI" src="/logos/li.svg" alt="LI" width="30"></a>
                                    </div>


                                   <div class="header__norsk">
                        <img class="header__norsk--image" src = "/logos/norsk.png" alt = "NORSK" width="30"/>
                        <a href="link">NORSK</a>



                    </div> 




                                </div>
                                            <div class="top__dmc">
                                            <a href="/index.html"><img class="header__main--logo" src = "/logos/DMC_logo_black.png" alt = "DMC Praha" width="350" /></a>
                                            </div>

                            </div>
