<div class="whoweare">

    <img class="wedge_four" src="/logos/wedgefour.png" alt="wedge">

    <div class="whoweare__heading">
        <h3>Who we are</h3> 
    </div>


    <div class="whoeweare__wrapping">
    
        <div class="whoweare__main">

            <div class="whoweare__text--left">
            <p> Two passionate colleagues who have been working in travel industry for more than 20 years. We specialize in individual groups, tailor-made groups, leisure groups and corporate travel arrangements. We aim to take care of every single detail of your trip from the moment you arrive to the moment of your departure, leaving nothing to chance. Our main aim is to help you experience unique and memorable moments.    
                </p>
            </div>

        </div>
            <div class="whoweare__photos">
                <div class="whoweare__photos--marcela">
                    <div class="whoweare__photos--marcela--content">
                <img src="/images/bio/marcela.jpg" alt="Marcela Malinova">
                <p>Marcela Malinova</p>
                </div>
                </div>
                
                    <div class="whoweare__text--button">
                        <a href="/about-us/"> MEET US </a>
                    </div>

                <div class="whoweare__photos--filip">
                    <div class="whoweare__photos--filip--content">
                <img src="/images/bio/filip.jpg" alt="Filip Bis">
                <p>Filip Bis</p>
                </div>
                </div>

             
     
            </div>

        

                
     
    </div>

</div>

